.preto{
    background-color: black;
    grid-area: preto;
    height: 40vh;
}
.azul{
    background-color: blue;
    grid-area: azul;
    height: 40vh;
}
.vermelho{
    background-color: red;
    grid-area: vermelho;
    height: 20vh;
}
.rosa{
    background-color: pink;
    grid-area: rosa;
    height: 40vh;

}
.cinza{
    background-color: grey;
    grid-area: cinza;
    height: 40vh;
}
.verde{
    background-color: green;
    grid-area: verde;
    height: 20vh;

}
.site{
    display: grid;
    grid-template-columns: 10% 70% 20% ;
    grid-template-areas: 
    "rosa rosa rosa"
    "azul cinza verde"
    "azul cinza vermelho"
    "preto preto preto";
}